body {
    background-image: url("expsssere2.png");
    background-color: #646876;
    background-repeat: no-repeat;
    background-size: 700px 700px;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: 22px;
    font-weight: normal;
}

ul {
    font-size: 22px;
    list-style: none;
    color: beige;
}

.category {
    display: flex;
    justify-content: space-evenly;
}