body {
    background-image: url("carbackground.png");
    background-color: #646876;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;

    color: rgb(116, 218, 252);

}

h1 {
    font-size: 40px;
    font-weight: normal;
    background-color: white;
}

ul {
    font-size: 40px;
    list-style: none;
    color: white;
}

.category {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    font-family: 'vcr_osd_monoregular', Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}

p {
    display: flex;
    flex-grow: 1;
}