body {
    background-image: url("Captussssre.PNG");
    background-color: #646876;
    background-repeat: no-repeat;
    background-size: 700px 700px;
    background-position: bottom right;
    background-attachment: fixed;

    color: beige;
    filter: blur(100%);
    
}

h1 {
    font-size: 22px;
    font-weight: normal;
}

ul {
    font-size: 22px;
    list-style: none;
    color: beige;
}

.category {
    display: flex;
    justify-content: space-evenly;
}